{{ define "content" }}
<div class="grid">
	<section>
		<hgroup>
			<h2>Ut sit amet sem ut velit</h2>
			<h3>Quisque mi est</h3>
			<h4>{{.Name}}</h4>
		</hgroup>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis est vel
			velit bibendum ultrices. Sed aliquam tortor vel odio fermentum ullamcorper eu vitae
			neque. Sed non diam at tellus venenatis viverra. Vestibulum et leo laoreet arcu tempor
			eleifend venenatis ac leo. Pellentesque euismod justo sed nisl sollicitudin varius. Duis
			venenatis nisl sit amet ante rutrum posuere. Etiam nec ullamcorper leo, sed placerat
			mauris.
		</p>
	</section>
</div>
{{ end }}
